In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\Spark'

In [2]:
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
import pyspark
from pyspark import SparkContext
#sc = SparkContext.getOrCreate ()

In [4]:

import datetime
import datetime
from pyspark.sql.functions import year, month, dayofmonth, expr,col,concat,regexp_replace
from pyspark.sql.types import DateType, IntegerType

In [5]:
#import pyspark
from pyspark.sql import SparkSession #Importing the Libraries
# Creating Spark Session
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [7]:
df_credit = spark.read.format('org.apache.spark.sql.json').load("cdw_sapp_credit.json")
df_credit.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+
only showing top 20 rows

In [8]:
df_credit.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

In [9]:
df_credit1=df_credit.withColumn("TIMEID", expr("make_date(Year, Month, Day)"))
#df_credit1=df_credit1.withColumn("TIMEID",col("TIMEID").cast("string"))
#df_credit1=df_credit1.withColumn("TIMEID", concat(col("YEAR"), col("MONTH"), col("DAY")))
df_credit1=df_credit1.withColumn("TIMEID", regexp_replace(col("TIMEID"), "[^a-zA-Z0-9]", ""))
df_credit1=df_credit1.withColumn("TIMEID",col("TIMEID").cast("string"))

In [10]:
df_credit1.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|  TIMEID|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|20180214|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|20180320|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|20180708|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|20180419|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|20181010|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|20180528|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|20180519|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|20180808|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|20180318|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|20180903|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|20180821|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|20181224|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|20180403|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|20180415|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|20180517|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|20180706|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|20180928|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|20180704|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|20180424|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|20181008|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
only showing top 20 rows

In [11]:
df_credit1.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)
 |-- TIMEID: string (nullable = true)

In [12]:
df_credit1.show(5)

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|  TIMEID|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|20180214|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|20180320|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|20180708|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|20180419|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|20181010|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
only showing top 5 rows

In [13]:
#columnlist = df_credit1.columns 
df_credit1=df_credit1.drop('DAY', 'MONTH','YEAR')
#df_credit1.drop('MONTH')
#df_credit1.drop('YEAR')
df_credit1=df_credit1.withColumn("CUST_SSN",col("CUST_SSN").cast("int"))
df_credit1=df_credit1.withColumn("BRANCH_CODE",col("BRANCH_CODE").cast("int"))
df_credit1=df_credit1.withColumn("TRANSACTION_ID",col("TRANSACTION_ID").cast("int"))
df_credit1=df_credit1.withColumnRenamed("CREDIT_CARD_NO", "CUST_CC_NO")
df_credit1.show(5)

+-----------+----------------+---------+--------------+----------------+-----------------+--------+
|BRANCH_CODE|      CUST_CC_NO| CUST_SSN|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|  TIMEID|
+-----------+----------------+---------+--------------+----------------+-----------------+--------+
|        114|4210653349028689|123459988|             1|       Education|             78.9|20180214|
|         35|4210653349028689|123459988|             2|   Entertainment|            14.24|20180320|
|        160|4210653349028689|123459988|             3|         Grocery|             56.7|20180708|
|        114|4210653349028689|123459988|             4|   Entertainment|            59.73|20180419|
|         93|4210653349028689|123459988|             5|             Gas|             3.59|20181010|
+-----------+----------------+---------+--------------+----------------+-----------------+--------+
only showing top 5 rows

In [14]:
df_credit2 = df_credit1.select("CUST_CC_NO", "TIMEID", "CUST_SSN", "BRANCH_CODE", "TRANSACTION_TYPE", "TRANSACTION_VALUE", "TRANSACTION_ID" )

In [15]:
df_credit2.show(5)

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 5 rows

In [30]:
df_credit2.write.format("jdbc")\
.mode("append")\
.option("driver","com.mysql.cj.jdbc.Driver")\
.option("user","")\
.option("url","jdbc:mysql://localhost:3306/creditcard_capstone")\
.option("dbtable","creditcard_capstone.CDW_SAPP_CREDIT_CARD1")\
.option("password","")\
.save()